* {
  font-family: "Vazir-FD";
}

@font-face {
  font-family: "Vazir-FD";
  src: url("./assets/fonts/Vazir-Regular-FD.woff");
}

body {
  margin: 0;
}

.header-wallpaper {
  height: 100vh;
  background: url("./assets/wallpaper/e05744161d7500a183d5ec3a38a6e626.jpg")
    center/cover no-repeat;
}

.logo {
  display: inline-block;
  position: relative;
  top: 50px;
}

.logo a {
  text-decoration: none;
  list-style: none;
  font-size: 3rem;
  color: #43a159;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  text-align: right;
}

.menu-items {
  /* display: inline-block; */
  text-align: center;
  padding: 0;
  position: relative;
  margin-top: 290px;
}

.menu-item {
  font-size: 20px;
  list-style: none;
  background: -webkit-linear-gradient(#019096, #43a159);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-item a {
  text-decoration: none;
}

.svg {
  position: relative;
  top: 29vh;
  padding: 0;
  margin: 0;
}

/* 
Scroll button
*/

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/* scroll button end */

.solution {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  top: 10rem;
  background: linear-gradient(
    166deg,
    rgba(1, 144, 150, 1) 21%,
    rgba(43, 155, 111, 1) 46%,
    rgba(97, 169, 62, 1) 100%
  );
}

.title {
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem 0rem;
  margin: 0;
}

.hr {
  width: 50%;
  color: rgba(1, 144, 150, 1);
}

.energyimg {
  margin: 2rem 2rem;
}

.energyimg img {
  /* height: 68px;
  width: 301px;
   */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.solution-content__text {
  text-align: center;
  direction: rtl;
  margin: 2rem 2rem;
}

.solution-content__picture img {
  /* width: 340px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.clean-world {
  position: relative;
  top: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.clean-world__text {
  text-align: center;
  direction: rtl;
  padding: 2rem 2rem;
}

.clean-world__picture img {
  /* width: 340px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.light-box-modal {
  background: linear-gradient(
    313deg,
    rgba(1, 144, 150, 1) 21%,
    rgba(43, 155, 111, 1) 46%,
    rgba(97, 169, 62, 1) 100%
  );
  position: relative;
  top: 145px;
}

/* modal */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 60%;
  margin: 4rem 4rem;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* modal end */

.our-plan {
  position: relative;
  top: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.our-plan__text {
  text-align: center;
  direction: rtl;
  padding: 2rem 2rem;
}

.what-we-can-do__text {
  text-align: center;
  direction: rtl;
  padding: 2rem 2rem;
}

our-plan img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main-footer {
  position: relative;
  top: 145px;
  bottom:0;
  background: linear-gradient(
    183deg,
    rgba(1, 144, 150, 1) 21%,
    rgba(43, 155, 111, 1) 46%,
    rgba(97, 169, 62, 1) 100%
  );
  margin-top: 4rem;
}

.end-footer {
  text-align: center;
  margin-top: 5rem;
  padding: 0;
  font-size: 0.6rem;
}

.footer-item {
  list-style: none;
}

#whitetitle {
  color: #ffffff;
}

@media (min-width: 376px) {
 
  .svg svg{
    position: relative;
    bottom: 150px;
  }
  .title{
    font-size: 3rem;
  }

  .solution-content__picture img {
    
    width: 50%;

  }


  .clean-world__picture img {
    margin-bottom: 4rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .column{
    margin-left: auto;
    margin-right: auto ;
  }

  #text-content{
    margin: 4rem 4rem;
    font-size: 1.5rem;
  }


  .what-we-can-do__img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .svg {
    position: unset;
  }

  .arrows {
    bottom: 211px;
  }

}